
//variables

//variables de colores
//MAP


   $color-body:#030627;
   $color-backContainer: rgb(41, 2, 2);
   $color-section-title: rgb(119, 88, 4);
   $color-menu-ul: #e60c0c;
   $color-placeholder: #556E5B; 
