@import'_commons';



.tm-footer {
    padding: 25px 15px;
    margin-top: 40px;
    background-color: rgb(153, 31, 55);
  }
  
  .tm-footer a {
    color: #f1f5f9;
    text-decoration: none;
  }
  
  .tm-footer a:hover {
    color: #1e9fea;
  }